# Ignore ToDo file
ToDo.txt
nr-software-policy.pdf
# Ignore pycache folders
__pycache__
star3d/__pycache__
# Ignore Jupyter notebook checkpoints
star3d/.ipynb_checkpoints
# Ignore demo pycache and checkpoints
demo/__pycache__
demo/.ipynb_checkpoints
# Ignore network
star3d/training/star-3d-weights.zip
# Ignore Documentation draft
docs/Documentation.docx
# Ignore builds and distributions
star3d.egg-info
build
dist

